.center{
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-bold';
}
body{
    font-family: 'Montserrat-regular';
}
*{
    box-sizing: border-box ;
}